/*
TODO: Would be cool to implement a "masonry" layout (i.e. staggered cards)
that way, images with very long descriptions wouldn't really matter, they could still be inline with the flow
https://www.smashingmagazine.com/2021/02/things-you-can-do-with-css-today/

oh... lol, it isn't supported yet. Well, maybe in the future
*/
* {
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --bg-color: #fcf0d1;
  --border-color: #999;
  --shadow-color: #777777aa;
  --font-color: #333;
  --link-color: #5391c1;

  background: var(--bg-color);
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--font-color);
}

h1,
h2 {
  margin-bottom: 0;
}

.source {
  font-family: monospace;
  font-weight: 900;
}

.github-logo {
  width: 1em;
  transition: 0.3s all;
}

.github-logo:hover {
  transform: translateY(-0.05em);
  box-shadow: 0em 0.05em 0.1em var(--shadow-color);
}

.vert-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.vert-spacer {
  flex: 1 1 auto;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  padding: 1em;
  flex-direction: column;
  margin: auto;
}

.card {
  width: 100%;
  text-decoration: none;
  color: var(--font-color);
  margin-bottom: 2em;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.flex-col-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.image-container {
  width: 100%;
}

.card .description {
  text-decoration: none;
  color: var(--font-color);
  width: 100%;
}

a,
a:active,
a:visited,
a:hover,
a:link {
  color: var(--link-color);
}

.card .img {
  width: 100%;
}

.img {
  display: block;
  max-height: 100vh;
  max-width: 100%;
  border: 1px solid var(--border-color);
  transition: 1.3s all;
}

.img:hover {
  /* transform: translateY(-0.25em); */
  box-shadow: 0em 0em 2.9em 1em var(--shadow-color);
}

.card-detail {
  padding: 0 2em;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .card {
    max-width: 50em;
  }

  /* qualify this with .cards because in .card-detail the image-container can stay at 100% width */
  .cards .image-container {
    width: 60%;
  }

  .card .description {
    width: 40%;
    padding: 0 1em;
  }
}

.pagination {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  margin: auto;
}

.pagination-btn {
  font-size: 0.75em;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  border: 1px solid var(--font-color);
  color: var(--font-color);
  margin: 1em;
  background: var(--bg-color);
  cursor: pointer;
}

.pagination-btn.active {
  background: var(--font-color);
  color: var(--bg-color);
}

footer {
  text-align: center;
  width: 100%;
  padding: 2em 0;
}
